.controlBar {
    position: fixed;
    z-index: 99;
    height: 40px;
    width: auto;
    background: #2586B9;
    bottom: 20px;
    left: calc(50% - 150px);
    border-radius: 8px;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.4);
    padding: 5px 10px;
    text-align: center;

    .control {
        color: #fff;
        font-size: 24px;
        display: inline-block;
        padding: 0 5px;
        line-height: 32px;
        cursor: pointer;
        transition: all 0.2s ease;
        margin: 0;
        position: relative;
        top: 0;

        &:hover {
            top: -3px;
        }

        &.separator {
            margin: 0 15px;
            background: #fff;
            width: 2px;
            padding: 0;
            height: 18px;
            cursor: initial !important;

            &:hover {
                top: 0px;
            }
        }
    }
}

.areaManager {
    position: fixed;
    left: 25px;
    top: 25px;
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    background: rgba(255,255,255,0.7);

    .title {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        text-transform: uppercase;
        text-align: center;
    }

    .areaData {
        margin-top: 20px;
        overflow-wrap: break-word;

        .info {
            label {
                font-size: 12px;
                padding-left: 1px;
            }
        }
    }
}