// vars

$element-index: 100;
$element-insert-index: 101;

#appRoot {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
}

.dev {
  .element {
    outline: 1px #fab solid;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    .element-selected {
      outline: 1px #5a31ff solid;
      z-index: 9;
    }
  }

  .content:before {
    content: '';
    height: 100%;
    width: 1px;
    background: #000000;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 99;
    opacity: 0.2;
  }

  .content:after {
    content: '';
    height: 1px;
    width: 100%;
    background: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 99;
    opacity: 0.2;
  }

  .static {
    .content:before {
      opacity: 0;
    }
    .content:after {
      opacity: 0;
    }
  }
}

.room {
  position: relative;
}

.workArea {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.5);

  &.active {
    outline: 2px #fff solid;
  }

  &.inactive {
    display: none;
  }

  .workAreaName {
    display: table;
    width: 500px;
    height: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 250px);

    .workAreaNameContent {
      display: table-cell;
      vertical-align: middle;
      text-transform: uppercase;
      opacity: 0.2;
      font-size: 64px;
      font-weight: bold;
    }
  }
}

.element {
  position: absolute;
  transition: all 0.3s ease;
  z-index: $element-index;
  opacity: 1;
  transition: all 1.5s ease;

  .element-tile {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 210px;
    transform: rotateX(-45deg) rotateY(37.2deg) rotateZ(60deg) skew(-3deg, 0deg);
    transform-origin: 50% 50%;
    position: absolute;
  }

  &.flip {
    .element-tile {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 210px;
      transform: scaleX(-1) rotateX(45deg) rotateY(37.2deg) rotateZ(-60deg)
        skew(3deg, 0deg);
      transform-origin: 50% 50%;
      position: absolute;
    }

    .element-focus:hover {
      transition: background-position 0.5s ease-in-out filter 0.5s ease-in-out;
      background-position: 0 0;
      filter: drop-shadow(2px 4px 6px black);
      cursor: pointer;
    }
  }
}

.element-focus:hover {
  transition: background-position 0.5s ease-in-out filter 0.5s ease-in-out;
  background-position: 0 0;
  filter: drop-shadow(2px 4px 6px black);
  cursor: pointer;
}

.static {
  .element {
    display: none;
  }

  .workArea {
    outline: 2px #fff solid;
    outline-offset: -2px;

    &.inactive {
      display: block;
    }

    &.selected {
      outline: 7px #f50 solid;
      outline-offset: -5px;
      z-index: 10;
    }
  }
}

.element-insert {
  background: rgba(0, 0, 0, 0.5);
  outline: 1px #fab solid;
  color: #fff;
  position: absolute;
  z-index: $element-insert-index;
  left: 0;
  top: 0;

  .element-insert-details {
    min-width: 90px;
    font-size: 20px;

    .element-insert-actions {
      font-size: 64px;
      text-align: center;

      .btn-toolbar {
        width: 200px;
        margin-left: calc(50% - 100px);
        display: flex;
        justify-content: center;
      }

      button {
        font-size: 26px;
        width: 40px;
        padding: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
      }

      margin-top: -90px;
    }
  }

  .element-tile,
  .element-insert-tile {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 210px;
    transform: rotateX(-45deg) rotateY(37.2deg) rotateZ(60deg) skew(-3deg, 0deg);
    transform-origin: 50% 50%;
    position: absolute;
  }

  .element-controls {
    font-size: 36px;
    position: relative;
    width: 100%;
    height: 100%;

    .down {
      position: absolute;
      bottom: -50px;
      left: calc(50% - 15px);
      text-shadow: 0px 0px 3px #000;
    }

    .up {
      position: absolute;
      top: -50px;
      left: calc(50% - 15px);
      text-shadow: 0px 0px 3px #000;
    }

    .left {
      position: absolute;
      left: -50px;
      top: calc(50% - 17px);
      text-shadow: 0px 0px 3px #000;
    }

    .right {
      position: absolute;
      right: -50px;
      top: calc(50% - 17px);
      text-shadow: 0px 0px 3px #000;
    }
  }

  .element-insert-details {
    transform: skew(0deg, 0deg);
  }

  &.flip {
    .element-insert-tile {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 210px;
      transform: scaleX(-1) rotateX(45deg) rotateY(37.2deg) rotateZ(-60deg)
        skew(3deg, 0deg);
      transform-origin: 50% 50%;
      position: absolute;
    }

    .element-controls {
    }

    .element-insert-details {
      transform: scaleX(-1) skew(0deg, 0deg);
    }
  }
}

#mod {
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.1s ease;
}
