.grid-wrapper {
    transition: all 0.3s ease;
    display: inline-block;
}

.inactive {
    .grid-wrapper{
        display: none;
    }
}

.static {
    .inactive {
        .grid-wrapper{
            display: block;
        }
    }
}

span.grid-mark {
    position: relative;
    float: left;
    overflow: hidden;
    outline: 1px #fff solid;
    &.hl {
        background: #f54;
    }
}

.grid-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}

.dev {
    .grid-background {
        opacity: 1;
    }
}

.static {
    .grid-background {
        opacity: 0;
    }
}

#isometric-space {
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: rotateX(54.7deg) rotateY(0deg) rotateZ(-45deg);
    transform-origin: 50% 50%;
    text-align: center;
    transition: all 1.5s ease;
    
    &.static {
        transform: rotate(0deg) skew(0deg, 0deg);
    }
}
    
@function calc-scale($num) {
    @return $num/100;
}

@mixin generateScale() {
    @for $scale from 1 through 300 {
        .scale#{$scale} {
            #appRoot {
                transform: scale(calc-scale($scale));
            }
        }
    }
}

@include generateScale();