@import './grid.scss';
@import './controller.scss';
@import './elements.scss';

* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

body {
    background: #2288AB;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.content {
    border-radius: 5px;
    position: relative;
}

.loginWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Set your hex color
$primary: rgb(78, 104, 219);

.loader {
    width: 32px;
    height: 28px;
    position: relative;

    .indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(2);

    svg {
        polyline {
        fill: none;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        &#back {
            stroke: rgba($primary,.1);
        }
        &#front {
            stroke: $primary;
            stroke-dasharray: 12, 36; //Dash 12 & Gap 36
            stroke-dashoffset: 48;
            animation: dash 1s linear infinite;
        }
        }
    }
    }
}
        
@keyframes dash {
    62.5% {
        opacity: 0;
    }
    to { 
        stroke-dashoffset: 0;
    }
}
    
    
.cta {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #222;
  font-weight: bold;
}